In [85]:
import os
import pandas as pd

In [86]:
path = './gapminder/'
# 1997, 2001, 2007, 2013
year = 2001
filename = 'wave4work.xls'

In [87]:
for file in os.listdir(path):
    print(file)

.DS_Store
life_expectancy_years.xlsx
gdppercapita_us_inflation_adjusted.xlsx

In [88]:
gdp = pd.read_excel(path+'gdppercapita_us_inflation_adjusted.xlsx')

In [89]:
gdp.head()

       country     1997     2001     2007     2013
0  Afghanistan      NaN      NaN    440.0    634.0
1      Albania   1740.0   2550.0   3610.0   4330.0
2      Algeria   3280.0   3600.0   4360.0   4600.0
3      Andorra  37300.0  41400.0  48700.0  39100.0
4       Angola   1700.0   1740.0   3260.0   3710.0

In [90]:
wave = pd.read_excel(filename)

In [91]:
gdps = []
temp = pd.DataFrame()

for country in wave['Country']:
    row = gdp[gdp['country'] == country]
    temp = temp.append(row)

In [92]:
temp.shape

(35, 5)

In [93]:
wave.shape

(37, 16)

In [94]:
wave = wave.set_index('Country')
temp = temp.set_index('country')

In [95]:
wave['Gdp'] = temp[year]

In [96]:
wave.reset_index(level=0, inplace=True)
wave = wave.rename(columns={'index':'Country'})

In [97]:
wave.to_excel(filename, index=False)