In [91]:
import os
import pandas as pd

In [93]:
wave6 = pd.read_csv('../service/data/clean-wave6')
coords = pd.read_csv('../service/data/country_coords')

In [94]:
wave6.head()

,Country,Responsibility,Unselfishness,Faith,Saving,Determination,Imagination,Hard work,Independence,Self-expression,Respect
0,Algeria,56.3,34.3,64.7,31.2,35.2,23.4,59.5,31.2,17.8,61.4
1,Argentina,57.3,42.3,23.2,13.4,25.1,31.4,40.6,44.1,14.8,58.2
2,Armenia,79.6,24.1,38.1,28.5,32.8,6.1,81.9,28.0,19.7,56.3
3,Australia,65.9,49.2,15.2,30.7,50.3,39.8,59.1,65.0,36.3,86.3
4,Azerbaijan,79.2,21.7,19.4,52.8,39.7,13.3,74.0,58.5,53.6,71.7

In [95]:
coords.head()

      Country   Latitude   Longitude
0     Algeria  28.033886    1.659626
1  Azerbaijan  40.143105   47.576927
2   Argentina -38.416096  -63.616672
3   Australia -25.274399  133.775131
4     Armenia  40.069099   45.038189

In [96]:
wave6.columns[0]

'Country'

In [97]:
wave6 = wave6.rename(columns = {'Unnamed: 0':'Country'})
wave6.head()

,Country,Responsibility,Unselfishness,Faith,Saving,Determination,Imagination,Hard work,Independence,Self-expression,Respect
0,Algeria,56.3,34.3,64.7,31.2,35.2,23.4,59.5,31.2,17.8,61.4
1,Argentina,57.3,42.3,23.2,13.4,25.1,31.4,40.6,44.1,14.8,58.2
2,Armenia,79.6,24.1,38.1,28.5,32.8,6.1,81.9,28.0,19.7,56.3
3,Australia,65.9,49.2,15.2,30.7,50.3,39.8,59.1,65.0,36.3,86.3
4,Azerbaijan,79.2,21.7,19.4,52.8,39.7,13.3,74.0,58.5,53.6,71.7

In [98]:
wave6 = wave6.sort_values(by=['Country'])
wave6.head()

,Country,Responsibility,Unselfishness,Faith,Saving,Determination,Imagination,Hard work,Independence,Self-expression,Respect
0,Algeria,56.3,34.3,64.7,31.2,35.2,23.4,59.5,31.2,17.8,61.4
1,Argentina,57.3,42.3,23.2,13.4,25.1,31.4,40.6,44.1,14.8,58.2
2,Armenia,79.6,24.1,38.1,28.5,32.8,6.1,81.9,28.0,19.7,56.3
3,Australia,65.9,49.2,15.2,30.7,50.3,39.8,59.1,65.0,36.3,86.3
4,Azerbaijan,79.2,21.7,19.4,52.8,39.7,13.3,74.0,58.5,53.6,71.7

In [99]:
coords = coords.sort_values(by=['Country'])
coords.head()

      Country   Latitude   Longitude
0     Algeria  28.033886    1.659626
2   Argentina -38.416096  -63.616672
4     Armenia  40.069099   45.038189
3   Australia -25.274399  133.775131
1  Azerbaijan  40.143105   47.576927

In [100]:
wave6.tail()

,Country,Responsibility,Unselfishness,Faith,Saving,Determination,Imagination,Hard work,Independence,Self-expression,Respect
54,United States,65.2,32.7,43.1,31.6,35.7,30.5,66.4,53.6,17.6,71.8
55,Uruguay,81.6,52.9,15.8,20.6,35.0,19.8,21.8,48.2,38.6,82.0
56,Uzbekistan,75.0,23.5,5.7,33.2,56.7,4.0,92.7,57.6,8.3,80.5
57,Yemen,68.7,31.0,84.5,38.3,30.5,9.1,31.7,30.6,6.5,80.0
58,Zimbabwe,43.1,29.5,59.6,25.1,49.4,13.3,76.0,39.1,20.6,63.8

In [101]:
coords.tail()

          Country   Latitude  Longitude
55  United States  37.090241 -95.712891
56        Uruguay -32.522778 -55.765835
57     Uzbekistan  41.377491  64.585258
58          Yemen  15.552727  48.516388
46       Zimbabwe -19.015438  29.154858

In [102]:
result1 = wave6.append({'Latitude':coords['Latitude'], 'Longitude':coords['Longitude']}, ignore_index=True)

In [116]:
coords = coords.set_index('Country')

In [114]:
wave6 = wave6.set_index('Country')

In [117]:
print(wave6.shape)
print(coords.shape)

(59, 12)
(59, 2)

In [120]:
wave6.index == coords.index

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [121]:
wave6['Latitude'] = coords['Latitude']

In [122]:
wave6['Longitude'] = coords['Longitude']

In [123]:
wave6

,Responsibility,Unselfishness,Faith,Saving,Determination,Imagination,Hard work,Independence,Self-expression,Respect,Latitude,Longitude
Country,,,,,,,,,,,,
Algeria,56.3,34.3,64.7,31.2,35.2,23.4,59.5,31.2,17.8,61.4,28.033886,1.659626
Argentina,57.3,42.3,23.2,13.4,25.1,31.4,40.6,44.1,14.8,58.2,-38.416096,-63.616672
Armenia,79.6,24.1,38.1,28.5,32.8,6.1,81.9,28.0,19.7,56.3,40.069099,45.038189
Australia,65.9,49.2,15.2,30.7,50.3,39.8,59.1,65.0,36.3,86.3,-25.274399,133.775131
Azerbaijan,79.2,21.7,19.4,52.8,39.7,13.3,74.0,58.5,53.6,71.7,40.143105,47.576927
Belarus,80.6,13.9,14.4,55.0,35.1,12.1,87.6,38.6,29.8,60.7,53.709808,27.953388
Brazil,77.9,31.5,49.8,26.6,28.2,24.4,64.1,37.6,9.0,64.2,-14.235004,-51.925281
Chile,76.9,42.7,27.5,36.4,53.6,22.2,30.5,49.2,36.4,82.0,-35.675148,-71.542969
China,65.9,29.2,1.2,50.7,26.0,17.0,75.3,69.7,10.5,52.2,35.861660,104.195396
Colombia,82.0,45.8,60.3,29.4,24.3,20.8,13.6,36.4,31.5,86.4,4.570868,-74.297333
Cyprus,80.7,36.0,37.4,30.6,41.0,23.4,40.8,43.1,39.3,69.7,35.126411,33.429859
Ecuador,75.0,54.1,49.0,47.3,25.4,25.1,44.3,37.4,12.6,67.7,-1.831239,-78.183403
Egypt,59.2,29.2,83.4,22.5,17.8,6.2,50.4,80.2,20.6,62.3,26.820553,30.802498
Estonia,88.4,42.5,18.8,77.0,69.4,36.8,87.5,54.5,62.9,84.5,58.595272,25.013607
Georgia,87.7,14.6,63.6,24.6,24.7,9.2,91.3,61.6,12.2,67.4,42.315407,43.356892
Germany,80.9,5.9,12.1,38.1,59.6,29.5,17.9,73.5,39.2,66.7,51.165691,10.451526
Ghana,34.9,24.6,70.6,24.4,45.9,12.0,85.5,28.8,23.2,66.1,7.946527,-1.023194
Haiti,34.7,67.7,12.3,3.8,31.5,9.9,78.4,16.8,5.3,43.8,18.971188,-72.285217
Hong Kong,79.3,15.1,10.9,43.7,43.0,18.8,58.0,72.6,31.0,69.2,22.396427,114.109497
India,90.5,81.1,83.1,85.7,84.7,69.2,94.6,89.9,73.5,89.3,20.593683,78.962883
Iraq,70.3,34.0,75.0,27.4,22.2,15.3,57.8,36.8,12.6,74.2,33.223190,43.679291
Japan,87.3,45.1,4.4,47.8,67.8,31.6,35.1,67.7,33.6,64.6,36.204822,138.252930
Jordan,73.1,36.5,79.8,27.9,27.4,14.8,39.5,43.6,24.6,76.5,30.585163,36.238415
Kazakhstan,75.0,29.7,10.0,52.8,44.7,12.4,84.7,43.7,28.6,60.0,48.019573,66.923683
Kuwait,60.3,39.0,73.8,36.5,28.4,28.0,51.3,41.8,29.4,67.8,29.311661,47.481766
Kyrgyzstan,76.3,28.8,24.8,41.3,51.9,14.8,84.6,61.2,13.5,57.6,41.204380,74.766098
Lebanon,51.7,28.7,33.6,24.5,30.8,18.7,39.8,32.3,23.1,46.9,33.854721,35.862286
Libya,71.8,35.3,79.1,29.8,25.2,12.2,41.4,38.4,22.5,80.0,26.335100,17.228331
Malaysia,64.9,30.6,63.8,60.4,40.1,24.4,43.6,71.7,10.7,74.6,4.210484,101.975769
Mexico,74.9,43.5,35.3,34.5,27.0,23.8,38.0,38.5,18.6,77.9,23.634501,-102.552788
Morocco,63.8,25.3,77.6,23.8,19.2,23.9,67.1,43.0,29.7,56.6,31.791702,-7.092620
Netherlands,90.8,22.9,13.9,47.5,37.1,20.0,31.3,60.7,23.0,86.0,52.132633,5.291266
New Zealand,56.1,36.6,15.9,33.4,48.5,36.3,50.2,53.5,32.1,83.1,-40.900559,174.885971
Nigeria,42.6,31.7,72.7,19.1,36.9,15.1,78.0,38.9,22.8,59.8,9.081999,8.675277
Pakistan,62.3,36.6,72.8,42.4,35.9,31.2,55.7,43.1,16.7,52.8,30.375320,69.345116
Peru,71.3,38.6,42.1,23.8,23.4,16.7,16.5,33.3,22.9,67.6,-9.189967,-75.015152
Philippines,67.2,31.8,59.8,41.9,29.9,14.0,69.5,65.0,11.5,62.3,12.879721,121.774017
Poland,81.0,15.1,39.5,49.5,19.3,16.8,17.9,43.4,41.0,82.6,51.919437,19.145136
Qatar,75.6,32.5,84.7,25.2,18.1,12.4,48.9,34.3,19.6,76.9,25.354826,51.183884
Romania,70.4,12.6,51.7,39.4,29.9,32.7,77.3,42.2,29.0,65.2,45.943161,24.966761
Russia,77.5,22.6,13.9,50.3,45.4,16.5,84.5,37.8,32.1,63.5,61.524010,105.318756
Rwanda,72.0,52.0,42.2,41.9,35.4,33.3,69.2,30.3,8.7,56.4,-1.940278,29.873888
Singapore,69.7,26.0,26.2,47.4,44.3,18.8,60.8,72.1,13.7,54.1,1.352083,103.819840
Slovenia,83.1,44.2,23.4,54.6,65.2,26.2,50.9,88.0,48.8,81.2,46.151241,14.995463
South Africa,57.4,27.8,44.3,30.4,35.3,28.1,70.2,63.5,24.4,52.5,-30.559483,22.937506
South Korea,87.8,10.5,25.0,65.1,54.5,14.5,64.3,57.8,49.9,40.8,35.907757,127.766922
Spain,78.6,35.0,10.6,29.6,37.5,24.8,66.6,43.1,8.3,74.1,40.463669,-3.749220
Sweden,82.5,30.4,4.4,38.6,33.6,46.7,13.8,70.3,37.6,87.0,60.128162,18.643501
Taiwan,82.4,24.4,9.0,54.1,28.0,18.7,40.4,72.3,37.5,77.4,23.697809,120.960518
Thailand,65.7,44.3,34.7,53.0,50.3,23.3,78.3,35.9,14.6,64.7,15.870032,100.992538
Trinidad and Tobago,48.6,16.0,68.1,35.2,26.0,5.8,61.4,58.6,15.3,84.2,10.691803,-61.222504
Tunisia,77.3,33.2,76.1,23.2,28.7,15.0,73.9,55.1,18.3,54.9,33.886917,9.537499
Turkey,66.5,27.7,39.7,39.4,38.0,28.3,72.0,35.0,37.9,61.4,38.963745,35.243321
Ukraine,75.5,19.9,22.3,45.1,39.4,13.0,85.8,42.8,32.3,59.0,48.379433,31.165581
United States,65.2,32.7,43.1,31.6,35.7,30.5,66.4,53.6,17.6,71.8,37.090241,-95.712891
Uruguay,81.6,52.9,15.8,20.6,35.0,19.8,21.8,48.2,38.6,82.0,-32.522778,-55.765835
Uzbekistan,75.0,23.5,5.7,33.2,56.7,4.0,92.7,57.6,8.3,80.5,41.377491,64.585258
Yemen,68.7,31.0,84.5,38.3,30.5,9.1,31.7,30.6,6.5,80.0,15.552727,48.516388
Zimbabwe,43.1,29.5,59.6,25.1,49.4,13.3,76.0,39.1,20.6,63.8,-19.015438,29.154858

In [125]:
wave6.to_csv('clean-coords-wave6')