In [27]:
import os
import pandas as pd

In [28]:
path = './wave6ICQ/'
filename = 'wave6-clean'

for file in os.listdir(path):
    print(file)

Important_child_qualities_feeling_of_responsibility.xlsx
Important_child_qualities_unselfishness.xlsx
wave6-clean.xls
Important_child_qualities_religious_faith.xlsx
Important_child_qualities_thrift_saving_money_and_things.xlsx
Important_child_qualities_determination_perseverance.xlsx
Important_child_qualities_imagination.xlsx
Important_child_qualities_Hard_work.xlsx
Important_child_qualities_independence.xlsx
Important_child_qualities_Self-expression.xlsx
Important_child_qualities_tolerance_and_respect_for_other_people.xlsx

In [33]:
new_cols = ['ICQ: Responsibility', 'ICQ: Unselfishness','ICQ: Fatih','ICQ: Thrift','ICQ: Perseverance','ICQ: Imagination','ICQ: Hard word','ICQ: Independence','ICQ: Self expression','ICQ: Respect']

In [34]:
result = pd.DataFrame()

for file in os.listdir(path):
    if file == '.DS_Store':
        continue
    print(file)
    current_df = pd.read_excel(path+file)
    data = current_df.iloc[0][2:]
    result = result.append(data, ignore_index=True)
    print(result.shape)

Important_child_qualities_feeling_of_responsibility.xlsx
(1, 60)
Important_child_qualities_unselfishness.xlsx
(2, 60)
wave6-clean.xls
(3, 69)
Important_child_qualities_religious_faith.xlsx
(4, 69)
Important_child_qualities_thrift_saving_money_and_things.xlsx
(5, 69)
Important_child_qualities_determination_perseverance.xlsx
(6, 69)
Important_child_qualities_imagination.xlsx
(7, 69)
Important_child_qualities_Hard_work.xlsx
(8, 69)
Important_child_qualities_independence.xlsx
(9, 69)
Important_child_qualities_Self-expression.xlsx
(10, 69)
Important_child_qualities_tolerance_and_respect_for_other_people.xlsx
(11, 69)

In [35]:
result = result.transpose()

In [36]:
result.columns = new_cols

ValueError: Length mismatch: Expected axis has 11 elements, new values have 10 elements

In [26]:
result.shape

(87, 11)

In [18]:
result.reset_index(level=0, inplace=True)
result = result.rename(columns={'index':'Country'})

In [19]:
result

,Country,ICQ: Responsibility,ICQ: Unselfishness,ICQ: Faith,ICQ: Saving,ICQ: Determination,ICQ: Imagination,ICQ: Hard work,ICQ: Independence,ICQ: Self-expression,ICQ: Respect
0,Algeria,25.7,17.5,NaN,12.2,76.8,56.2,58.0,17.9,16.5,66.9
1,Argentina,36.3,22.2,NaN,23.5,43.5,37.1,76.6,14.9,12.7,56.8
2,Bangladesh,77.8,35.9,NaN,35.6,70.1,19.2,53.3,57.3,15.8,58.9
3,Bosnia Herzegovina,56.3,46.1,NaN,26.8,24.5,43.5,73.8,37.2,37.6,53.8
4,Canada,62.3,48.0,NaN,33.0,30.8,29.8,77.0,27.1,45.1,52.7
...,...,...,...,...,...,...,...,...,...,...,...
73,Unnamed: 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,Unnamed: 6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Unnamed: 7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Unnamed: 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Unnamed: 9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
result.to_excel(filename, index=False)