In [15]:
import os
import pandas as pd

In [20]:
path = './wave5IIL/'
icq_file = './wave5ICQ/wave5-clean.xls'

In [21]:
new_columns = ['IIL: Family', 'IIL: Work','IIL: Religion','IIL: Politics',]

In [22]:
for file in os.listdir(path):
    print(file)

Important_in_life_Family.xls
Important_in_life_Work.xls
Important_in_life_Religion.xls
Important_in_life_Politics.xls

In [39]:
result = pd.DataFrame()
icq = pd.read_excel(icq_file)

In [40]:
for file, col in zip(os.listdir(path), new_columns):
    
     if file == '.DS_Store':
        continue
    
    print(file)
    current_df = pd.read_excel(path+file)
    
    vi = current_df.iloc[0][1:]
    i = current_df.iloc[1][1:]
    data = i + vi

    result[col] = data
    print(result.shape)

Important_in_life_Family.xls
(57, 1)
Important_in_life_Work.xls
(57, 2)
Important_in_life_Religion.xls
(57, 3)
Important_in_life_Politics.xls
(57, 4)

In [43]:
icq = icq.append(result)

,Continents,Country,Determination,Faith,Hard work,IIL: Family,IIL: Politics,IIL: Religion,IIL: Work,Imagination,Independence,Respect,Responsibility,Saving,Self-expression,Unselfishness
0,South America,Argentina,25.6,71.5,72.1,NaN,NaN,NaN,NaN,44.6,15.4,57.7,44.0,25.2,8.7,23.5
1,Oceania,Australia,21.0,91.7,72.3,NaN,NaN,NaN,NaN,38.8,35.1,48.6,63.6,43.1,53.6,49.3
2,South America,Brazil,55.7,64.4,77.9,NaN,NaN,NaN,NaN,56.6,28.6,61.1,28.5,26.7,40.1,31.4
3,Europe,Bulgaria,18.2,53.0,73.5,NaN,NaN,NaN,NaN,24.7,42.1,87.0,46.1,17.3,49.6,56.1
4,Africa,Burkina Faso,68.1,69.4,38.7,NaN,NaN,NaN,NaN,70.5,47.5,80.4,31.2,19.2,39.4,27.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,NaN,NaN,NaN,NaN,NaN,99.1,50.7,71.1,79.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,NaN,NaN,NaN,NaN,NaN,99.1,45.3,94.8,97.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,NaN,NaN,NaN,NaN,NaN,99.3,33.5,45.6,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,NaN,NaN,NaN,NaN,NaN,97.8,53,91.9,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,NaN,NaN,NaN,NaN,NaN,98.3,40.2,40.1,70.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN